<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Cargar archivo con sass</h1>
    <p>El contenido va aquí. Y otro contenido más!!!</p>
  </body>
</html>

<!--  No se deben incluir etiquetas <script> aquí, en index.ejs  -->
